.titleLable a {
  display: grid;
  grid-template-columns: 41px 70px auto;
  gap: 0 4px;

  align-items: center;
  justify-items: left;

  margin-bottom: 20px;

  text-decoration: none;
}

.titleLable > a > span {
  display: inline-block;
}

/* OWL */
.titleLable > a > span:nth-child(2) {
  margin-left: 4px;

  color: var(--primary);

  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
}

.titleLable > a > span:nth-child(3) {
  color: var(--primary);

  font-size: 24px;
  font-weight: 200;
  line-height: 33px;
}
