.tag {
  display: inline-block;

  margin: 0 5px 0 0;
  padding: 5px 10px;

  text-align: center;

  border-radius: 20px;
  background: none;
}

/* Size */
.small {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.medium {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.large {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}

/* Colors */
.grey {
  color: var(--white);
  background: #B3C0D9;
}

.ghost {
  border: 1px solid #EBEBEB;
}

.green {
  color: var(--green);
  background: var(--green-lite);
}

.red {
  color: var(--white);
  background: #DE0000;
}

.primary {
  cursor: pointer;

  color: var(--primary);
  border: 1px solid var(--primary);
}

.primary a {
  text-decoration: none;
}
