.button {
  display: inline-block;

  box-sizing: border-box;
  margin-right: 20px;

  padding: 8px 10px;

  cursor: pointer;
  transition: all 0.24s ease-in-out;
  text-align: center;

  border: none;
  border-radius: 5px;

  font-size: 14px;
}

.primary {
  color: var(--white);
  background: var(--primary);
}

.primary:hover {
  background: var(--primary-hover);
}

.ghost {
  padding: 8px 14px;

  color: var(--black);
  border: 1px solid var(--grey-lite);
  background: var(--white);
}

.ghost:hover {
  color: var(--white);
  background: var(--primary);
}

.arrow {
  display: inline-block;

  margin-left: 11px;
}

.arrowdown {
  transition: all 0.2s ease-in-out;
  transform: rotate(90deg);
}

.primary svg,
.ghost:hover svg {
  fill: var(--white);
}

.disabled {
  color: var(--black);
  background: var(--grey-lite);

  font-weight: 600;
}

.disabled:hover {
  background: var(--grey);
}
