.button {
  box-sizing: border-box;
  display: inline-block;

  padding: 8px 10px;
  margin-right: 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.24s ease-in-out;
}

.primary {
  background: var(--primary);
  color: var(--white);
}

.primary:hover {
  background: var(--primary-hover);
}

.ghost {
  background: var(--white);
  color: var(--black);
  padding: 8px 14px;
  border: 1px solid var(--grey-lite);
}
.ghost:hover {
  color: var(--white);
  background: var(--primary);
}

.arrow {
  display: inline-block;
  margin-left: 11px;
}

.arrowdown {
  transition: all 0.2s ease-in-out;
  transform: rotate(90deg);
}

.primary svg,
.ghost:hover svg {
  fill: var(--white);
}

.disabled {
  background: var(--grey-lite);
  color: var(--black);
  font-weight: 600;
}

.disabled:hover {
  background: var(--grey);
}
