.search {
  position: relative;

  width: 100%;
}

.search input {
  width: 80%;
  padding-right: 35px;
}

.search button {
  position: absolute;
  top: 3px;
  right: 3px;

  width: 26px;
  height: 26px;
  margin: 0;
  padding: 5px;
}
