.button {
  width: 40px;
  height: 40px;

  cursor: pointer;

  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.button svg {
  margin: 11px 10px;
}

.primary {
  background: var(--primary);
}

.primary:hover {
  background: var(--white);
}

.primary svg {
  fill: var(--white);
}

.ghost svg {
  fill: var(--primary);
}

.primary:hover svg {
  fill: var(--primary);
}

.ghost {
  background: var(--white);
}

.ghost:hover {
  background: var(--primary);
}

.ghost:hover svg {
  fill: var(--white);
}
