.wrapper {
  display: grid;

  min-height: 100vh;

  gap: 40px 30px;

  grid-template:
    ". header header ." auto
    ". sidebar component ."  1fr
    "footer footer footer footer" auto / auto 230px minmax(320px, 1200px) auto;
}

.scroll {
  position: fixed;
  bottom: 50px;
  left: 20px;

  width: 30px;
  height: 30px;

  transition: all 0.2s ease-in-out;

  border: 1px solid var(--white);
  border-radius: 50%;
  background: var(--primary);
}

.scroll:hover {
  background: var(--primary-hover);
}

.scroll > svg {
  margin: 8px 0 0 12px;

  transition: all 0.2s ease-in-out;
  transform: rotate(-90deg);
  fill: var(--white);
}

.scroll:hover > svg {
  width: 10px;
  height: 16px;
  margin: 5px 0 0 10px;
}

.tabContent {
  width: 100%;
  margin-top: 10px;
}

.tabContent > button {
  width: 100%;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.component {
  grid-area: component;

  outline: none;
}

.footer {
  grid-area: footer;
}

@media (max-width: 790px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "component"
      "footer";

    gap: 20px 0;
  }

  .header {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .component {
    padding: 0 20px;
  }

  .footer {
    margin-bottom: -40px;
  }
}
