.footer {
  display: grid;
  align-items: center;

  box-sizing: border-box;
  height: minmax(72px, auto);
  padding: 25px 32px;

  color: var(--white);
  background: var(--primary);

  font-size: 16px;
  line-height: 21.79px;
  grid-template-columns: 1fr auto auto;
  gap: 0 40px;
}

.footer > a {
  text-decoration: none;

  color: var(--white);

  font-size: 16px;
  line-height: 21.79px;
}

.footer > a:hover {
  color: var(--grey-lite);
}

@media (max-width: 765px) {
  .footer {
    padding: 3px 32px;
    gap: 7px 0;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer > span {
    text-align: center;
  }
}
