.textAreaWrapper {
  position: relative;
}

.textarea {
  width: 95%;
  padding: 7px 12px;

  resize: none;

  color: var(--black);

  border: none;
  border-radius: 5px;
  outline-color: var(--primary);

  background: var(--white);
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

  font-family: var(--font-family);
}

.textarea::placeholder {
  color: var(--grey-medium);
}

.textAreaError {
  border: 1px solid var(--red);
}

.textAreaWrapper > span {
  position: absolute;
  top: 52px;
  left: 5px;

  color: var(--red);
}

.textarea::-webkit-scrollbar {
  width: 8px;

  border-radius: 4px;
  background: var(--grey-lite);
}

.textarea::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;

  border-radius: 3px;
  background: var(--primary);
}
