.inputWrapper {
  position: relative;
}

.input {
  padding: 7px 12px;

  color: var(--black);

  border: none;
  border-radius: 5px;
  outline-color: var(--primary);

  background: var(--white);
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

  font-family: var(--font-family);
}

.input::placeholder {
  color: var(--grey-medium);
}

.errorInput {
  border: 1px solid var(--red);
}

.inputWrapper > span {
  position: absolute;
  top: 32px;
  left: 5px;

  color: var(--red);
}
