.hhData {
  display: grid;
  margin-top: 24px;
  grid-template-columns: 1fr 3fr;
  gap: 0 30px;
}


.hhTotalVacancies > span:nth-child(1),
.vacancies > span:nth-child(1){
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.hhTotalVacancies {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 26px 0 15px 0;
  text-align: center;
}

.hhTotalVacancies > span:nth-child(2) {
  align-self: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: var(--primary);
}

.levelVacancies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.levelVacancies > div > span {
  display: block;
}

.wrapperRating {
  justify-self: center;
  grid-template-rows: auto;
  margin-top: 12px;
}

.rating {
  margin-right: 10px;
}

.ratingFill > circle {
  fill: #FC836D;
}

.vacancies {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 21px 0 17px 0;
  border-right: 1px solid var(--grey-lite);
}

.vacancies:last-child {
  border-right: none;
}

.vacancies > span:nth-child(2) {
  justify-self: center;
  color: var(--black);
  margin-top: 8px;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
}

@media(max-width: 1100px){
  .hhData {
    grid-template-columns: 1fr;
    gap: 5px 0;
  }
}


@media(max-width: 900px){
  .levelVacancies {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 5px 0;
  }
  .vacancies {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    align-items: center;
    border-right: none;
    grid-template-rows: 1fr;
    border-right: none;
  }
}