.wrapperStarsError {
  position: relative;
}

.wrapperStarsError > span > span > svg {
  stroke: var(--red);
}

.wrapperStarsError > div {
  position: absolute;
  top: 20px;
  left: 0;

  display: inline;

  width: 150px;
  margin: 0;
  padding: 0;

  color: var(--red);
}

.star {
  margin-right: 5px;
}

.filled {
  fill: var(--primary);

  transition: all 0.2s ease-in;
}

.enabled {
  padding-top: 5px;
  padding-left: 3px;

  cursor: pointer;
}
