.header {
  display: none;
}

.label {
  grid-column: 1/2;
}

.menu {
  align-self: start;
  justify-self: end;
  grid-column: 2/3;
}

.mobileMenu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-y: scroll;

  padding: 15px 20px;

  background: #E5E5E5;
}

.close {
  position: fixed;
  top: 15px;
  right: 10px;
}

.mobileMenu::-webkit-scrollbar {
  width: 2px;

  border-radius: 5px;
  background: var(--grey-lite);
}

.mobileMenu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--primary);
}

@media (max-width: 790px) {
  .header {
    display: grid;
    grid-column: 1fr 40px;
    gap: 10px;

    margin: 15px 20px 0;
  }
}
