.menu {
  margin-top: 30px;
}

.menu > div > div > a {
  text-decoration: none;

  color: var(--grey-dark);
}

.thirdLevelBlock {
  overflow: hidden;
}

.firstLevel {
  display: grid;
  align-items: center;

  font-size: 18px;

  font-weight: 500;
  line-height: 25px;
  grid-template-columns: 24px 1fr;
  gap: 0 20px;
}

.firstLevelActive svg {
  fill: var(--primary);
}

.firstLevel:hover,
.firstLevel:hover svg {
  color: var(--primary);
  fill: var(--primary);
}

.firstLevelActive {
  color: var(--primary);
}

.secondLevelBlock {
  margin: 15px 0 24px 12px;
  padding: 11px 0 11px 32px;

  border-left: 1px solid #CFA2A2;
}

.secondLevel {
  cursor: pointer;

  color: var(--grey-dark);

  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}

.thirdLevel {
  display: block;

  margin-bottom: 10px;

  text-decoration: none;

  color: var(--grey-dark);

  outline-offset: -1px;

  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.thirdLevel::first-letter {
  text-transform: uppercase;
}

.thirdLevel:hover {
  color: var(--primary);
}

.thirdLevelActive {
  color: var(--primary);
}
