* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--black);
  background: #E5E5E5;

  font-family: "Noto Sans", sans-serif;
}

:root {
  --black: #3B434E;
  --grey: #E2E2E2;
  --grey-lite: #EBEBEB;
  --grey-medium: #A4A4A4;
  --grey-dark: #62666c;
  --white: white;
  --primary: #6a52c7;
  --primary-hover: #6a4edc;
  --green: #1DC37E;
  --green-hover: #0F965E;
  --green-lite: #C8F8E4;
  --red: #FC836D;
  --red-hover: #CA533E;
  --font-family: "Noto Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 5px;
  background: var(---grey-lite);
}

::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: 5px;
}

.visuallyAriaHidden {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}