.nav {
         position: fixed;
          display: flex;
  justify-content: space-around;
      align-items: center;
              top: 0;
            right: 0;
             left: 0;
          padding: 5px;
           height: 40px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.256);
       background: peru;
}

.nav a{
  text-decoration: none;
          display: inline-block;
          padding: 5px;
        font-size: 20px;
    border-radius: 10px;
   text-transform: uppercase;
            color: black;
       background: whitesmoke;
}

.nav a:hover {
            color: rgba(0, 0, 0, 0.704);
       box-shadow: 0px 0px 10px 3px lightgrey;
        font-size: 22px;
}

.Loading {
          display: block;
         position: absolute;
              top: 50%;
             left: 50%;
        transform: translate(-50%, -50%);
      font-weight: 800;
        font-size: 30px;
            width: 200px;
       text-align: center;
            color: rgb(155, 11, 11);
}

.Posts {
          display: flex;
        flex-flow: wrap;
  justify-content: space-around;
      align-items: center;
            width: 800px;
           margin: auto;
}

.Post {
         position: relative;
          display: flex;
        flex-flow: column;
           margin: auto;
      align-items: center;
           height: 200px;
            width: 200px;
           margin: 15px;
          padding: 10px;
          border-radius: 10%;
       background: peru;
            color: white;
}

.PostNum {
         position: absolute;
       text-align: center;
            width: 20px;
           height: 20px;
          padding: 10px;
             left: -15px;
              top: -10px;
           margin: 0px;
    border-radius: 50%;
           border: 2px solid black;
            color:rgb(0, 0, 0);
 background-color: aqua;
}

.Post span {
          display: block;
           margin: auto;
       text-align: center;
          padding: 5px;
           margin: 5px 0;
       min-height: 80px;
            width: 160px;
    border-radius: 10px;
            color: rgba(70, 51, 51, 0.92);
       background: lightgrey;
}

.Post span a {
          display: block;
           margin: auto;
       text-align: center;
  text-decoration: none;
  margin-bottom: 5px;
            width: 160px;
    border-radius: 10px;
            color: rgba(70, 51, 51, 0.92);
}

.Post span a:hover {
            color: rgb(3, 0, 82);
}

.Post span p {
       text-align: left;
      font-weight: 600;
           margin: 0px;
          padding: 4px;
            color: black;
}

.CurrentPost {
         position: relative;
          display: flex;
        flex-flow: column;
              top: 20%;
             left: 50%;
        transform: translateX(-50%);
            width: 400px;
}

.CurrentPost span {
          padding: 7px;
           margin: 5px;
    border-radius: 8px;
 background-color: aquamarine;
}
.CurrentPostButton {
           border: none;
           cursor: pointer;
   text-transform: uppercase;
      font-weight: 700;
          padding: 10px;
    border-radius: 10px;
      border-left: 10px solid black;
       background: linear-gradient(green, white, peru);
}